<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="htmap.pjmanage.dao.DeptDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="htmap.pjmanage.entity.Dept">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="p_id" property="pId" />
        <result column="leader" property="leader" />
        <result column="description" property="description" />
        <result column="creator" property="creator" />
        <result column="create_time" property="createTime" />
        <result column="last_editor" property="lastEditor" />
        <result column="update_time" property="updateTime" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, p_id, leader, description, creator, create_time, last_editor, update_time, is_delete
    </sql>

</mapper>
