<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="htmap.pjmanage.dao.UserDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="htmap.pjmanage.entity.User">
        <id column="id" property="id"/>
        <result column="user_name" property="userName"/>
        <result column="name" property="name"/>
        <result column="pass_word" property="passWord"/>
        <result column="gender" property="gender"/>
        <result column="dept_id" property="deptId"/>
        <result column="email" property="email"/>
        <result column="creator" property="creator"/>
        <result column="create_time" property="createTime"/>
        <result column="last_editor" property="lastEditor"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_delete" property="isDelete"/>
    </resultMap>

    <!-- 完整的查询映射结果 -->
    <resultMap id="WholeResultMap" type="htmap.pjmanage.entity.UserWhole">
        <id column="id" property="id"/>
        <result column="user_name" property="userName"/>
        <result column="name" property="name"/>
        <result column="pass_word" property="passWord"/>
        <result column="gender" property="gender"/>
        <result column="dept_id" property="deptId"/>
        <result column="email" property="email"/>
        <result column="creator" property="creator"/>
        <result column="create_time" property="createTime"/>
        <result column="last_editor" property="lastEditor"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_delete" property="isDelete"/>
        <association property="dept" column="dept_id" javaType="htmap.pjmanage.entity.Dept"
                     select="htmap.pjmanage.dao.DeptDao.selectById"></association>
        <collection property="roles" column="id" javaType="ArrayList"
                    ofType="htmap.pjmanage.entity.Role"
                    select="htmap.pjmanage.dao.RoleDao.selectByUserId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_name, name, pass_word, gender, dept_id, email, creator, create_time, last_editor, update_time, is_delete
    </sql>

    <select id="selectById" parameterType="int" resultMap="WholeResultMap">
        select * from t_user where id=#{id} order by id
    </select>
</mapper>
